<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/graphic2.svg" alt="">
  <form autocomplete="off" (submit)="doLogin()">
    <ion-item>
      <ion-label position="stacked" > Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" > Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" type="submit" expand="block">Entrar</ion-button>
 
  </form>
  <ion-button 
  type="submit" 
  color="danger"
  (click)="authService.GoogleAuth()" 
  expand="block">
    Login with Google
 </ion-button>
  <div class="ion-text-center ion-margin-top">
    <a routerLink="/forgotpassword"><small>Olvidé mi Contraseña</small></a>
  </div>
  <div class="ion-text-center ion-margin-top">
    <a routerLink="/registration"><small>Crear Cuenta</small></a>
  </div>
</ion-content>