<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/graphic2.svg" alt="" />
  <form autocomplete="off" (submit)="doLogin()">
    <ion-item>
      <ion-label position="stacked">
        Nombre <span class="text-danger">*</span></ion-label
      >
      <ion-input
        type="text"
        [(ngModel)]="name"
        name="name"
        required="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Correo <span class="text-danger">*</span></ion-label
      >
      <ion-input
        type="text"
        [(ngModel)]="email"
        name="email"
        required="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Contraseña <span class="text-danger">*</span></ion-label
      >
      <ion-input
        [(ngModel)]="password"
        type="password"
        name="password"
        required="true"
      ></ion-input>
    </ion-item>
    <ion-button color="secondary" expand="block" (click)="OnSubmitRegister()"
      >Registrarse</ion-button
    >
  </form>
  <div class="ion-text-center ion-margin-top">
    <a routerLink="/login"><small>Ya Tengo Cuenta</small></a>
  </div>
</ion-content>
